<!DOCTYPE html>

<html lang="en-us" dir="ltr">

<head>
  <title>Logged out </title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">





  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


  <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="" data-admin-utc-offset="0">

  <!-- Container -->
  <div id="container">


    <!-- Header -->
    <div id="header" style="background-color: rgb(31, 30, 30);">

        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Nemesis Consultants LLP Task</span>
          </div>
        </nav>

      <!-- END Header -->
      <div class="breadcrumbs" ><a href="/login">Home</a></div>
    </div>

    <div class="main shifted" id="main">

      <div class="content">



        <!-- Content -->
        <div id="content" class="colM">

          <h1>Logged out</h1>



          <p>Thanks for spending some quality time with the Web site today.</p>

          <p><a href="/admin/">Log in again</a></p>



          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
  </div>
  <!-- END Container -->
</body>

</html>